@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1280px;
  height: 900px;
  flex-direction: column;
}

#app {
  height: 800px;
  min-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-container {
  margin-left: -2px;
  width: 100px;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  top: 0;
  position: fixed;
  left: 0;
  margin-top: 50px;
  border-style: solid;
  border-color: rgb(25, 33, 54);
  backdrop-filter: blur(10px);
  border-radius: 0 10px 10px 0;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-out;
}

.control-button {
  animation: fadeIn 1s ease-out;
  width: 50px;
  height: 50px;
  border-color: white;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(25, 33, 54);
  box-shadow: 0 0px 20px rgba(25, 33, 54, 0.1);
  transition: transform 0.3s ease, box-shadow 0.5s ease;
  cursor: pointer;
}
.control-button:hover {
  transform: scale(99%);
  box-shadow: 0 0px 30px rgba(25, 33, 54, 0.4);
}
.control-button i {
  font-size: 2.2rem;
  color: white;
  transition: transform 300ms ease;
  animation: fadeIn 1.5 ease-out;
}

.search-container {
  transform: translateY(250px);
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 90%;
  height: 250px;
}

.search-bar-container {
  width: 85%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: end;
}

@media screen and (max-width: 500px) {
  .search-bar {
    height: 66px;
    margin: 0 8px;
  }
  .search-bar i {
    left: 12px;
    font-size: 25px;
  }
  .search-bar input {
    padding: 0 112px 0 50px;
  }
  .search-bar {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}

.search-bar {
  width: 90%;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  width: 100%;
  border: none;
  outline: none;
}

.search-bar .search-icon {
  margin-left: 10px;
  cursor: pointer;
  transition: transform 300ms ease;
}

.search-icon:hover {
  transform: scale(110%);
}

.result-container {
  width: 70%;
  height: 60%;
  display: flex;
}

.result {
  animation: fadeInUp 0.3s ease-out forwards;
  display: flex;
  cursor: pointer;
  background-color: rgb(25, 7, 37);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 300ms ease, box-shadow 0.5s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.result:hover {
  transform: scale(98%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.result-picture-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result-picture {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.result-title-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.result-title {
  color: white;
  font-size: 2rem;
  font-family: 'Cinzel', serif;
  font-weight: 500;
}

.hero-preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 900px;
}

.hero-card {
  animation: fadeIn 1s ease-out;
  color: white;
  width: 400px;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-color: rgb(25, 33, 54);
  border-radius: 15px;
  margin-bottom: 20px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.hero-card:hover {
  transform: scale(99.5%);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

.info-container {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-name {
  text-align: center;
  justify-content: center;

  width: 95%;
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  margin-top: 30px;
}

.attributes-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  align-items: center;
  gap: 30px;
  padding-bottom: 5px;
}

.attr-row {
  width: 70px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.attr-row .icon {
  width: 50px;
  height: 50px;
}

.attr-row .value {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.shuffle-button-container {
  transform: translateY(-280px);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: end;
}

.shuffle-button-container i {
  margin-right: 10px;
  font-size: 36px;
  transition: transform 300ms ease;
  cursor: pointer;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.732);
}
.shuffle-button-container i:hover {
  color: rgb(255, 255, 255);
}

.selected-attribute {
  border-width: 3px;
  border-color: white;
  border-style: solid;
  border-radius: 100%;
}

.hide-element {
  display: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(25, 33, 54);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .infos {
  color: rgba(255, 255, 255, 0.405);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Ajuste conforme necessário para a altura desejada */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
